 {{> head}}

    {{> navbar}}
     <div class="row">

          <div class="col-8">
              <h1>Acerca de nosotros</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum earum dolor eveniet ex animi, repudiandae magni ipsa quam consequatur quis repellat harum, saepe ut voluptatum maiores voluptatibus, tenetur dolores sunt!</p>

     
          </div>
          <div class="col-4">
              <img src="assets/img/logo.png" alt="Logo SAwp TI" class="img-thumbnail">
              <img scr="assets/img/logo.png" class="img-thumbnail">
           </div>

     
    </div>
    
{{> footer}}
